*{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    background-color: #f0f2f5;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.text{
    margin-right: 20px;

}
.text h1{
    color: rgb(53, 106, 239);
    font-size: 60px;
}
.text p{
   margin-right: 60px;
    font-size: 28px;
}

.input{
    width: 310px;
    margin: 14px 20px 6px 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border:1px solid #b5b6b7;
    transition:0.5s;
}
input:focus{
    border: 1px solid rgb(53, 106, 239);
    outline:none;
    box-shadow: 1px;

}
input::placeholder{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #b5b6b7;
}
.box{
    width: 396px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border: none;
    height: 346px;
    margin: 20px;
    display: flex;
    flex-direction: column;

}
.btn{
    width: 356px;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 13px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgb(53, 106, 239);
}
.forgot{
    color:rgb(0, 72, 255);
    text-decoration: none;
    font-size: 15px;

}
.btn1{
    margin: 8px 20px 10px 20px;
    border-radius: 5px;
    padding: 13px 15px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    
    background-color: rgb(15, 203, 15);

    border: none;
}
.btn1:hover{
    background-color:rgb(14, 187, 14);
}
.business{
    font-size: 14px;
    
}
.business a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  
}
.footer{
    display: flex;
    justify-content: center;
    height: 20px;
}
.footer ul{
    position:absolute;
    display: flex;
    padding-top: 25px;
    border-bottom: 1px solid rgb(105, 101, 101);
}
.footer ul li{
    list-style: none;
    padding: 5px;
    font-size: 13px;
    color: rgb(138, 138, 135);

}
.plus{
    padding-top: 5px;
    padding-left: 5px;
    width: 10px;
    color: rgb(94, 91, 88);
    cursor: pointer;
}
